:root {
  --main-color: #fbdfa8;
  --secondary-color: #e26d5c;
  --tertiary-color: #eeac86;
  --text-color: #000000;
  --internal-padding: 2rem;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8dca6;
}

.nav {
  background-color: #e26d5c;
  height: 20vh;
  width: 100vw;
}

/* main - Card */

.cards {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box1,
.box2,
.box3,
.box4 {
  height: 299px;
  width: 358px;
  margin-bottom: 20px;
  background-color: #e26d5c;
  border-radius: 20px;
  box-shadow: 1px 3px 3px 1px black;
}

.poele {
  display: flex;
  justify-content: flex-end;
}

input {
  border-radius: 5px;
  width: 250px;
}

.img {
  width: 50px;
  height: 50px;
  /*transform: rotate(-8deg);*/
  /* Inside auto layout */
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal {
  border-radius: 2em;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  & img {
    width: 100px;
    height: 100px;
  }
}

.secondInput {
  height: 300px;
}
